
body{
     margin: 0;
     padding:0;
     background-image: linear-gradient(to right top, #2c2364, #583174, #893f99, #b342b1, #eb63d2);
     background-repeat: no-repeat;
     height: 100vh;
    
    
}
.App {
 
  margin:auto;
  margin-top:150px;
  font-family: monospace;
  letter-spacing: 2px;
  
  width:500px;
  
  
}


